@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin: 0;
}

header {
    background: url(images/header.jpg) no-repeat center;
    background-size: cover;
   
}

header h1 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
margin: 0;
padding: 100px;
}

main{
    padding-left: 150px;
    padding-right: 250px;
    padding-top: 50px;
}

.content {
    width: 66%;
    float: left;
}

.content img {
    width: 1000px;
    height: 500px;
}

.content p {
    text-align: justify;
}

aside {
    margin-left: 75%;
    margin-top: 50px;
   
}

aside img{
    width: 420px;
    height: 200px;
}

/*#ec5353, #FFFFFF*/
button {
    width: 150px;
    height: 45px;
    border-color:  #ec5353;
    border-style: solid;
background-color: #FFFFFF;
color: #ec5353;
font-weight: bold;
border-radius: 20px;
padding: 5px;
font-size: 16px;
}

button:hover {
    transition-duration: 0.4s;
    width: 150px;
    height: 45px;
    border-color:  #ec5353;
    border-style: solid;
background-color: #ec5353;
color: #ffffff;
font-weight: bold;
border-radius: 20px;
padding: 5px;
font-size: 16px;
}